.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 90%;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
  font-size: 2rem;
}

li:hover {
  cursor: pointer;
}
